@import uk.gov.hmrc.play.views.html.helpers._
@import play.api.mvc._

@(utr: String)(implicit request: Request[_], messages: Messages)

@uk.gov.hmrc.contactadvisors.views.html.main_template(title = "Advice already exists", bodyClasses = None) {

    <h2>Reply to customer with SA-UTR @utr</h2>
    <div class="alert alert--failure" role="alert">
        <p class="alert__message">
            This message appears to be a duplicate of a message already received in the customer's Tax Account secure message Inbox.
        </p>
    </div>
}