@import uk.gov.hmrc.play.views.html.helpers._
@import play.api.mvc._

@import uk.gov.hmrc.contactadvisors.domain.Advice
@(utr: String, adviceForm: Form[Advice])(implicit request: Request[_])

@uk.gov.hmrc.contactadvisors.views.html.main_template(title = "Contact Advisor Response Form", bodyClasses = None) {
    <h1>Please complete and submit the form below in order to reply to @utr</h1>

    @form(action = uk.gov.hmrc.contactadvisors.controllers.routes.SecureMessageController.submit(utr), 'id -> "form-submit-customer-advice") {
        <fieldset>
            <div class="form-field">
            @input(
                adviceForm("subject"),
                '_label -> "Subject",
                '_divClass -> "form-field",
                '_inputClass -> "input--medium input--cleared",
                '_type -> "hidden",
                'parentField -> adviceForm("advice")
            )
            </div>
            <div class="form-field">
            @textArea(
                adviceForm("message"),
                '_divClass -> "form-field",
                '_inputClass -> "input--medium input--cleared",
                '_label -> "Message"
            )
            </div>
        </fieldset>

        <div class="form-field">
            <button id="submit-advice" class="button" type="submit">Send</button>
        </div>
    }
}