@import uk.gov.hmrc.play.views.html.helpers._
@import play.api.mvc._

@(utr: String)(implicit request: Request[_])

@uk.gov.hmrc.contactadvisors.views.html.main_template(title = "Advice creation successful", bodyClasses = None) {

    <h2>Reply to customer with SA-UTR @utr</h2>
    <div class="alert alert--success" role="alert">
        <p class="alert__message">
            Thanks. Your reply has been successfully received by the customer's Tax Account secure message Inbox.
        </p>
    </div>

}